## Loops


<tbody><tr>
<th style="text-align:justify;">Sr.No.</th>
<th style="text-align:justify;">Type of Loop.</th>
<th style="text-align:justify;">Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td>while loop</td>
<td>Repeats a statement or group of statements while a given condition is TRUE. It tests the condition before executing the loop body.</td>

</tr>
<tr>
<td class="ts">2</td>
<td>for loop</td>
<td>Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.</td>
</tr>
<tr>
<td class="ts">3</td>
<td>nested loops</td>
<td>You can use one or more loop inside any another while, for or do..while loop.</td>
</tr>
</tbody>


<tbody><tr>
<th style="text-align:justify;">Sr.No.</th>
<th style="text-align:justify;">Control Statement</th>
<th style="text-align:justify;">Description</th>
</tr>
<tr>
<td>1</td>
<td>break statement</td>
<td>Terminates the loop statement and transfers execution to the statement immediately following the loop.</td>
</tr>
<tr>
<td>2</td>
<td>continue statement</td>
<td>Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.</td>
</tr>
<tr>
<td>3</td>
<td>pass statement</td>
<td>The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.</td>
</tr>
</tbody></table>

### While Loop

In [ ]:
# Syntax
# While expression/condition:
#       statement(s)

# Sum of first 10 numbers
number = float(input("Enter the number:"))
sum_total = 0
i = 0
while i<=number:
    sum_total += i
    i += 1
print(sum_total)

### for Loop

In [ ]:
#Syntax
#for iterating_var in sequence:
#   statements(s)

# Note for loop works for sequences like list, tuple, range etc

degrees = ['10th','intermediate','btech','mtech','phd']
for i in degrees:
    print(i)

In [ ]:
degrees = ['10th','intermediate','btech','mtech','phd']
for i in range(0,len(degrees),2):
    print(degrees[i])

### functions

### types of arguemnts:
1) Required arguements

2) Keyword arguements

3) Default arguements

4) Variable-length arguments

In [ ]:
# Define a function to greet the person

def greet(name,msg): # Parameters are the names used when defining a function or a method :In this case name and msg
    print("Hello" , name + ', ' + msg)
    
greet('Harish','Good Evening!') #  arguments are the things which are supplied to any function or method call: In this case Harish and Good Evening

#Talk about parameters and arguments

In [ ]:
greet()

#greet('Harish')

In [ ]:
# Default Argument

def greet(name,msg="Good Evening"):
    print("Hello" , name + ', ' + msg)
    
greet('Harish')

In [ ]:
greet('Harish','Good Morning')

In [ ]:
#Note: Any number of arguments in a function can have a default value. 
#      But once we have a default argument, all the arguments to its right must also have default values.


def greet(msg="Good Evening",name):
    print("Hello" , name + ', ' + msg)
    
greet('Harish')

In [ ]:
## Python Keyword Arguments

def greet(name,msg): # Parameters are the names used when defining a function or a method :In this case name and msg
    print("Hello" , name + ', ' + msg)

# 2 keyword arguments
greet(name="Harish",msg="Good Evening")

# 2 keyword arguements
greet(msg="How are you doing?",name='Harish')

# 1 keyword arguement and 1 positional argument
greet("Harish",msg="Good Morning")

# As we can see, we can mix positional arguments with keyword arguments during a function call. 
# But we must keep in mind that keyword arguments must follow positional arguments.

greet(msg='Good Morning',"Harish")

## List Comprehension

In [ ]:
# We will see 3 ways to solve a problem

#Problem: Sum of squared numbers of a list

list1 = [1,3,5,7,9]
sum_squared = 0
for i in range(len(list1)):
    sum_squared += list1[i]**2
print(sum_squared)

In [ ]:
# 2nd approach
list1 = [1,3,5,7,9]
sum_squared = 0
for i in list1:
    sum_squared += i**2
print(sum_squared)

In [ ]:
# 3rd approach
list1 = [1,3,5,7,9]
sum_squared = sum([y**2 for y in list1])
print(sum_squared)

#This approach is called list comprehension

In [ ]:
# We can also use if in list comprehension

#porblem: squared the even numbers in a list
list2 = [1,2,3,4,5,6,7,8,9,10]
#[y**2 if y%2==0 for y in list2]
[y**2 for y in list2 if y%2==0]

In [ ]:
#problem: square the even numbers and cube the odd numbers in a list
[y**2 if y%2==0 else y**3 for y in list2]

## Enumerate

In [ ]:
list3 = ['green','yellow','red','blue']
for i in list3:
    print(i)

In [ ]:
for i,val in enumerate(list3):
    print("index is " + str(i) + ", value is " + val)

### Note: Use list comprehension  when you need a for loop.

## Lambda functions

In Python, an anonymous function means that a function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. It has the following syntax: 

## Syntax: lambda arguments: expression

In [ ]:
# Python code to illustrate cube of a number
# showing difference between def() and lambda().
def cube(y):
    return y*y*y
 
lambda_cube = lambda y: y*y*y
 
# using the normally
# defined function
print(cube(5))
 
# using the lambda function
print(lambda_cube(5))

In [ ]:
# Lambda functions are commonly used in places where a throw-away function is required
# Something You minght just use once, and hence need not create a named-function.
# Common applications of Lambda expressions are sorting and filtering.
# General Syntax > lambda inputs: expression
# lambda x1, x2, x3, ..., xn: Expression
# Some more examples : 



names = [{'name' : 'Brad', 'Age':24}, 
{'name' : 'Eve', 'Age' : 26},
{'name' : 'Jacob', 'Age' : 21},
{'name' : 'Joelene', 'Age' : 18},
{'name' : 'Ashton', 'Age' : 24}]

# using sorted and lambda to print list sorted
# by age
print("The list printed sorting by age: ")
print(sorted(names, key = lambda i: i['Age']))

# using sorted and lambda to print list sorted
# by both age and name.

print("The list printed sorting by age and name: ")
print(sorted(names, key = lambda i: (i['Age'], i['name'])))

In [ ]:
# Define a function to extract the list of vowels

# eg: input : ['a', 'b', 'd', 'e', 'i', 'j', 'o'] Output: ['a','e','i','o']

l1 = ['a', 'b', 'd', 'e', 'i', 'j', 'o'] 
l2 = []
for i in l1:
    if i in ['a','e','i','o','u']:
        l2.append(i)

print(l2)

In [ ]:
## Some important tips to know

In [ ]:
## Spend some time on slicing
#s[i:j:k] is, "slice of s from i to j with step k".


list1 = [10,20,30,40,50,60,70,80,90]
list1[-1:-9:1]

In [ ]:
## Some string operations

str1 = "Python Programming"
print(str1.split())
print(str1.lower())
print(str1.upper())
print(max(['a','b']))

<h2> Data Type Conversion/Type Casting </h2>

<p>Python defines type conversion functions to directly convert one data type to another </p>
<p>There are two types of Type Conversion in Python:</p>
<ol><li>Implicit Type Conversion</li><li>Explicit Type Conversion</li></ol>

<h2 style="text-align:center">Implicit Type Conversion</h2>

<p>In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement. </p>

<h2 style="text-align:center">Explicit Type Conversion</h2>
<p>In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement. Various form of explicit type conversion are explained below:<br>&nbsp;</p>

<h2 style="text-align:center">Implicit Type Conversion</h2>

In [ ]:
num_int = 123
print("Type of num_int",type(num_int))
num_float = 456.1
print("Type of num_float",type(num_float))

num_int + num_float

In [ ]:
num_int = 10
print("Type of num_int",type(num_int))
num_str = "20"
print("Type of num_str",type(num_str))

num_int + num_str

<h2 style="text-align:center">Explicit Type Conversion</h2>
<table class="grey">
<tbody><tr>
<td class="greyout"><b>Function</b></td>
<td class="greyout"><b>Converting what to what</b></td>
<td class="greyout"><b>Example</b></td>
</tr>

<tr>
<td><br><tt style="font-size: 1.3em">int()</tt></td>
<td><br>string, floating point → integer </td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>int(<span class="pysrc-string">'2014'</span>) 
<span class="pysrc-output">2014</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>int(3.141592)
<span class="pysrc-output">3</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">float()</tt></td>
<td><br>string, integer → floating point number</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>float(<span class="pysrc-string">'1.99'</span>) 
<span class="pysrc-output">1.99</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>float(5)
<span class="pysrc-output">5.0</span> 
</pre></td></tr>


<tr>
<td><br><tt style="font-size: 1.3em">str()</tt></td>
<td><br>integer, float, list, tuple, dictionary → string</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>str(3.141592) 
<span class="pysrc-output">'3.141592'</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>str([1,2,3,4])
<span class="pysrc-output">'[1, 2, 3, 4]'</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">list()</tt></td>
<td><br>string, tuple, set, dictionary → list</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>list(<span class="pysrc-string">'Mary'</span>)      <span class="pysrc-comment"># list of characters in 'Mary'</span> 
<span class="pysrc-output">['M', 'a', 'r', 'y']</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>list((1,2,3,4))   <span class="pysrc-comment"># (1,2,3,4) is a tuple</span>
<span class="pysrc-output">[1, 2, 3, 4]</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>list({1, 2, 3})   <span class="pysrc-comment"># {1, 2, 3} is a set</span>
<span class="pysrc-output">[1, 2, 3]</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">tuple()</tt></td>
<td><br>string, list, set → tuple</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>tuple(<span class="pysrc-string">'Mary'</span>)
<span class="pysrc-output">('M', 'a', 'r', 'y')</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>tuple([1,2,3,4])   <span class="pysrc-comment"># [ ] for list, ( ) for tuple</span>
<span class="pysrc-output">(1, 2, 3, 4)</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">set()</tt></td>
<td><br>string, list, tuple → set</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>set(<span class="pysrc-string">'alabama'</span>)            <span class="pysrc-comment"># unique character set from a string</span>
<span class="pysrc-output">{'b', 'm', 'l', 'a'}</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>set([1, 2, 3, 3, 3, 2])   <span class="pysrc-comment"># handy for removing duplicates from list</span>
<span class="pysrc-output">{1, 2, 3}</span> 
</pre></td></tr>
    
<tr>
<td><br><tt style="font-size: 1.3em">dict()</tt></td>
<td><br>tuple of order(key,value) → dict (This function is used to convert a tuple of order (key,value) into a dictionary.)</td>
<td><br>tup = (('a', 1) ,('f', 2), ('g', 3)) , dict(tup) , {'a': 1, 'f': 2, 'g': 3}
</td></tr>

    
    
</tbody></table>

In [ ]:
num_int = 10
print("Type of num_int",type(num_int))
num_str = "20"
print("Type of num_str",type(num_str))

num_str = int(num_str)

num_int + num_str

In [ ]:
str1 = "python"
tuple(str1)

In [ ]:
list1 = [('a',1),('b',10),('c',20)]
dict(list1)

In [ ]:
## Additional information
# To convert data types using astype

[1,2,3] + list({2,3,4})

## Operators

### Operatores

#### Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Membership operators

#### 1. Arithmetic Operators


<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
</td>
</tr>
</tbody></table>

In [ ]:
a = 13
b = 5

print(a//b)
print(a%b)

In [ ]:
# only + operator is valid for list and tuple

[1,2,3] + [3,4]

#### 2. Assignment Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>

</tbody></table>

#### 3. Comparision Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</tbody></table>

#### 4. Logical Operators

<table class="">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
</tr>
</tbody></table>

#### 5. Membership Operators


<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>

</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if a sequence with the specified value is present in the object</td>
<td>x in y</td>
</tr>
<tr>
<td>not in</td>
<td>Returns True if a sequence with the specified value is not present in the 
object</td>
<td>x not in y</td>
</tr>
</tbody></table>

In [ ]:
"Jan" in set1

In [ ]:
for i in set1:
  print(i)

## if - else

In [ ]:
# Check weather a num of positive or negative
num = 10
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
# check weather a num if positive or negative or zero
num = 10
if num == 0:
    print("Zero")
elif num >0:
    print("Positive number")
else:
    print("Negative number")

In [ ]:
# Short hand if statement

if 100 > 12: print("Inside if condition")

In [ ]:
# Short hand of if-else statement
marks = 37

print("Student passed") if marks > 36 else print("Student failed")

In [ ]:
num = float(input("Enter a number: "))
#if num == 0:
#    print("Zero")
#elif num >0:
#    print("Positive number")
#else:
#    print("Negative number")
    
print("zero") if num == 0 else print("Positive number") if num >0 else print("Negative Number")

## Loops


<tbody><tr>
<th style="text-align:justify;">Sr.No.</th>
<th style="text-align:justify;">Type of Loop.</th>
<th style="text-align:justify;">Description</th>
</tr>
<tr>
<td class="ts">1</td>
<td>while loop</td>
<td>Repeats a statement or group of statements while a given condition is TRUE. It tests the condition before executing the loop body.</td>

</tr>
<tr>
<td class="ts">2</td>
<td>for loop</td>
<td>Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.</td>
</tr>
<tr>
<td class="ts">3</td>
<td>nested loops</td>
<td>You can use one or more loop inside any another while, for or do..while loop.</td>
</tr>
</tbody>


<tbody><tr>
<th style="text-align:justify;">Sr.No.</th>
<th style="text-align:justify;">Control Statement</th>
<th style="text-align:justify;">Description</th>
</tr>
<tr>
<td>1</td>
<td>break statement</td>
<td>Terminates the loop statement and transfers execution to the statement immediately following the loop.</td>
</tr>
<tr>
<td>2</td>
<td>continue statement</td>
<td>Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.</td>
</tr>
<tr>
<td>3</td>
<td>pass statement</td>
<td>The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.</td>
</tr>
</tbody></table>

### While Loop

In [ ]:
# Syntax
# While expression/condition:
#       statement(s)

# Sum of first 10 numbers
number = 5
sum_total = 0
i = 0
while i<=number:
    sum_total += i
    i += 1
print(sum_total)

In [ ]:
l1 = []
while l1:
    print(1)

### for Loop

In [ ]:
#Syntax
#for iterating_var in sequence:
#   statements(s)

# Note for loop works for sequences like list, tuple, range etc

degrees = ['10th','intermediate','btech','mtech','phd']
for i in degrees:
    print(i)

In [ ]:
degrees = ['10th','intermediate','btech','mtech','phd']
for i in range(0,len(degrees),2):
    print(degrees[i])

### functions

In [ ]:
# Define a function to greet the person

def greet(name,msg): # Parameters are the names used when defining a function or a method :In this case name and msg
    print("Hello" , name + ', ' + msg)
    
greet('Harish','Good Evening!') #  arguments are the things which are supplied to any function or method call: In this case Harish and Good Evening

In [ ]:
greet()

#greet('Harish')

In [ ]:
# If no of arguments are not defined
# Arbitrary Arguments, *args

def greet(*args):
    print(args[0])
    
greet('Harsha')

In [ ]:
def greet(name,*msg):
    print(name)
    for arg in msg:
        print(arg)
        
greet("harsha","wish you all the best")

## List Comprehension

In [ ]:
# We will see 3 ways to solve a problem

#Problem: Sum of squared numbers of a list

list1 = [1,3,5,7,9]
sum_squared = 0
for i in range(len(list1)):
    sum_squared += list1[i]**2
print(sum_squared)

In [ ]:
# 2nd approach
list1 = [1,3,5,7,9]
sum_squared = 0
for i in list1:
    sum_squared += i**2
print(sum_squared)

In [ ]:
# 3rd approach
list1 = [1,3,5,7,9]
sum_squared = sum([y**2 for y in list1])
print(sum_squared)

#This approach is called list comprehension

In [ ]:
# We can also use if in list comprehension

#problem: squared the even numbers in a list
list2 = [1,2,3,4,5,6,7,8,9,10]
#[y**2 if y%2==0 for y in list2]
[y**2 for y in list2 if y%2==0]

In [ ]:
#problem: square the even numbers and cube the odd numbers in a list
[y**2 if y%2==0 else y**3 for y in list2]

### Note: Use list comprehension  when you need a for loop.

In [ ]:
# Define a function to extract the list of vowels

# eg: input : ['a', 'b', 'd', 'e', 'i', 'j', 'o'] Output: ['a','e','i','o']

l1 = ['a', 'b', 'd', 'e', 'i', 'j', 'o'] 
l2 = []
for i in l1:
    if i in ['a','e','i','o','u']:
        l2.append(i)

print(l2)