### Learning a language is easy 
When ever you start with a new language , focus on few things in the below order.
1. Operators and Data Types
2. Conditional statements - ifelse, switch, case
3. Loops - while, for
4. Data Structures - Arrays, List, Dict, etc
5. Define function

### Python Variables

Variables are containers to store data values

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)


#### Assigning multiple values

Many values to multiple variables
x,y,z = "Python","Introduction","Batch90"

One value to multiple variables
x=y=z = "New Programming"

In [ ]:
# Create 3 variables a,b,c and assign the values "NMIMS","Semester2","Batch2"
 
# Method 1

a = "NMIMS"
b = "Quarter 2"
c = "Batch 2"
a

In [1]:
# Method 2

a,b,c = "NMIMS","Quarter 2","Batch 2"
a

'NMIMS'

### Data Types
In any programming language Data types are very important. A variable can store data of different types and different types can do different things. 

Below are built in data types for python programming language.

<div class=""><div class="markdown-container-div Markdown__MarkdownContainerDiv-sc-1j2yuel-5 hwDRqT" height="auto"><div class="markdownViewer Markdown__Viewer-sc-1j2yuel-1 gvyjDX" role="none"><h2>Variations of data types</h2>
<p>There are two kinds of data types, both of which are​ further divided into sub-types:</p>
<ul>
<li>
<p><strong>Primitive data types:</strong> Data types which are pre-defined and supported by the programming language.</p>
</li>
<li>
<p><strong>Non-primitive data types:</strong> Data types which are derived from the primitive data types and offer increased functionality.
​​</p>
</li>
</ul>
</div></div></div>

## **Basic tips**
---
**Mathematical operations (+, -, *, /, %)** can be used just like any programming language

**#** can be used for comments. Using this ahead of line with signal the compiler to not execute the line as a command

**print()** will print the value stored in the variable. You can also give multiple arguments to the print function seperated by commas.

**type()** will print the class of the variable
<br><br>

<h1 style="text-align: left;"><span lang="en-PK"><b>Primitve Data Types:</b></span></h1>
<p class="MsoNormal"><span lang="en-PK">In python, we have four primitive(built-in)
data types:<o:p></o:p></span></p>
<p class="MsoNormal"></p>
<ol style="text-align: left;"><li><span lang="en-PK">String</span></li><li><span lang="en-PK">Integer</span></li><li><span lang="en-PK">Float</span></li><li><span lang="en-PK">Boolean</span></li></ol>

In [ ]:
## Integer
price = 75000
print(price)
print(type(price))

In [ ]:
## Float
weight = 187.5
print(weight)
print(type(weight))

In [ ]:
## Boolean
sold = True #False 
print(sold)
print(type(sold))

In [ ]:
## String between "" or ''
name = "Iphone 11"
name1 = 'Iphone 11'
print(name)
print(type(name))

In [ ]:
# Strings are collection alphabets, words, characters. You can create string using single or double quotes

str1 = "Python"

# to add multiple lines of code

sent1 = """This is first session to Python and 
left with 5 more session's"""
# any special characters are considered as special characters in between """  """

print(str1)
print(sent1)

In [ ]:
# To concatenate two or more strings we can use + operator directly

"Python" + "Introduction"

In [ ]:
# Even a space is considered a part of a string
"Python" + ' ' + "Introduction"

In [ ]:
# To multiply the string multiple times use * operator
"Python"*3

### <h1 style="text-align: left;"><span lang="en-PK"><b>Non Primitve Data Types:</b></span></h1>

#### Python Collections/Secondary Data Types

1.List is a collection which is ordered and changeable. Allows duplicate members.

2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3.Set is a collection which is unordered and unindexed. No duplicate members.

4.Dictionary is a collection which is unordered and changeable. No duplicate members.

### 1. Lists

#### A list is the Python equivalent of an array, but is resizeable and can contain elements of different types.
#### A list is enclosed between [].
#### A list is mutable unlike a tuple.
#### It can contain another list as one of its elements.

In [ ]:
# Creation of list
lis1 = [10,20,30] 
type(lis1)
l2 = list(1, 2, 3, 4)

In [ ]:
# Subsetting operations
list2 = ['python',1,'introduction','NMIMS',True]
list2

In [ ]:
my_list1=[1,4.5,True,"Tej",[4,"Mythili"]]
print(my_list1)
print(type(my_list1))

#### A list can be indexed to retrieve individual elements. Indexing starts from 0 to n-1

In [ ]:
my_list1

In [ ]:
## Extract the 2nd element of the list
my_list1[1]

In [ ]:
## Extract the 5th element of the list
my_list1[4]

In [ ]:
# Extract 'Mythili' from list
my_list1[4][0]

In [ ]:
my_list1[-1:-2]

#### To get the length of a list

In [ ]:
## Print the len of my_list1

print(len(my_list1))

#### A list is mutable, hence we can change the element/elements of a list by using its index

In [ ]:
# Chnange the value of 4th element to "Nithin"

my_list1[3]="Nithin"
print(my_list1)
print(type(my_list1))

#### A list can be mutable so we can insert or delete elements from a list

In [ ]:
my_list1

In [ ]:
## Add an element value "NMIMS" to end of my_list1

my_list1.append("NMIMS")
my_list1

In [ ]:
## Insert an element value "Python" at 3rd position 

my_list1.insert(4,"Python")
print(my_list1)
print(len(my_list1))
print(type(my_list1))

In [ ]:
## Delete 5th element from my_list1

del my_list1
print(my_list1)
print(type(my_list1))

In [ ]:
# Exercise

list1 = []
list1.append(2)
list1.append(0)
list1.append(6)

#[2,0,6]
list1.insert(3,10)
#[2.0.6,10]
list1.insert(3,10)
#[2,0,6,11,10,]

list1.append(20)
list1

### List Operations overview
<table>
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td>append()</a></td><td>Adds an element at 
  the end of the list</td></tr>
<tr><td>clear()</a></td><td>Removes all the 
  elements from the list</td></tr>
<tr><td>copy()</a></td><td>Returns a copy of the 
  list</td></tr>
<tr><td>count()</a></td><td>Returns the number of 
  elements with the specified value</td></tr>
<tr><td>extend()</a></td><td>Add the elements of a 
  list (or any iterable), to the end of the current list</td></tr>
<tr><td>index()</a></td><td>Returns the index of 
  the first element with the specified value</td></tr>
<tr><td>insert()</a></td><td>Adds an element at 
  the specified position</td></tr>
<tr><td>pop()</a></td><td>Removes the element at the 
  specified position</td></tr>
<tr><td>remove()</a></td><td>Removes the  
  item with the specified value</td></tr>
<tr><td>reverse()</a></td><td>Reverses the order 
  of the list</td></tr>
<tr><td>sort()</a></td><td>Sorts the list</td></tr>
</tbody></table>

### b. Tuple

#### A tuple can contain non homogenous elements of different datatypes.
#### A tuple can contain another tuple as one of its elements.
#### A tuple is enclosed between () and is immutable and ordered.

In [ ]:
## Tuple creation

my_tuple = ('NMIMS',1,True)
my_tuple

In [ ]:
## Create tuple and display the type

my_tuple1=(1,2.4,"Ramya",False,(2,3,5,"Sankar",True))
print(my_tuple1)
print(type(my_tuple1))

#### A tuple can be indexed to retrieve individual elements. Indexing starts from 0 to n-1

In [ ]:
my_tuple1

In [ ]:
## Extract the 2nd element of the tuple
my_tuple1[1]

In [ ]:
## Extract the 5th element of the tuple
my_tuple1[4]

In [ ]:
# Extract the last element
my_tuple1[-1]

In [ ]:
# Extract the value 3 from my_tuple1
my_tuple1[4][1]

#### To get the length of a tuple

In [ ]:
# Check the length of my_tuple

print(len(my_tuple1))

#### A tuple is immutable, hence throws an error if we try to 
         1. change the element/elements of a tuple 
         2. add
         3. delete elements

In [ ]:
## Assign a value 9 at position 3 of my_tuple1

my_tuple1[2]=9

In [ ]:
## Insert a new element at position

my_tuple2.insert(3,"New element")

In [ ]:
# Delete 3rd element from my_tuple2

del my_tuple2[2]

In [ ]:
l1 = [10,10]
l1

## Sets

Sets are a collection of distinct (unique) objects. These are useful to create lists that only hold unique values in the dataset. It is an unordered collection but a mutable one

In [ ]:
# Set creation

set1 = {1,'NMIMS',1}
set1

In [ ]:
# Set creation and print

myset = {"NMIMS","Batch01","Python"}
print(myset)
print(type(myset))

In [ ]:
# Try to index an element from Set
myset[1]

In [ ]:
# Update (Append, update)
A = {'Jan'}

In [ ]:
A

In [ ]:
# To add single item
A.add("July")

In [ ]:
A

In [ ]:
A.add('July')
A

In [ ]:
# to add multiple items
A.update(["Aug","Sep","Oct"])

In [ ]:
A

In [ ]:
# Delete an item from set
A.pop() #

In [ ]:
A

In [ ]:
# TO delete a particular element from set. 
# Delete "Jan" from set A
A.remove("Aug")

In [ ]:
A

### Some basic operations on Sets

In [ ]:

A = {"Jan","Feb","Mar"}
B = {"Mar","Jun"}

In [ ]:
# Get the union of A and B

A.union(B)

In [ ]:
# Get the intersection of A and B

A.intersection(B)

In [ ]:

a = {"Bhanu","Tejaswi"}
b = {"Shaja","Bhanu","Swetha"}

In [ ]:
# Get the difference of a and b

a.difference(b) # a - b

In [ ]:
# Get the difference of b and a

b.difference(a) # b - a

#### Set methods summary

<table>
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td>add()</a></td><td>Adds an element to the 
  set</td></tr>
<tr><td>clear()</a></td><td>Removes all the 
  elements from the set</td></tr>
<tr><td>copy()</a></td><td>Returns a copy of the set</td></tr>
  <tr>
    <td>difference()</a></td><td>Returns a set 
    containing the difference between two or more sets</td>
  </tr>
  <tr>
    <td>difference_update()</a></td><td>Removes the 
    items in this set that are also included in another, specified set</td>
  </tr>
<tr><td>discard()</a></td><td>Remove the specified 
  item</td></tr>
  <tr>
    <td>intersection()</a></td><td>Returns a set, 
    that is the intersection of two other sets</td>
  </tr>
<tr><td>intersection_update()</a></td><td>
  Removes the items in this set that are not present in other, specified set(s)</td></tr>
  <tr>
    <td>isdisjoint()</a></td><td>Returns whether 
    two sets have a intersection or not</td>
  </tr>
  <tr>
    <td>issubset()</a></td><td>Returns whether 
    another set contains this set or not</td>
  </tr>
<tr><td>issuperset()</a></td><td>Returns whether 
  this set contains another set or not</td></tr>
<tr><td>pop()</a></td><td>Removes an element from the 
  set</td></tr>
<tr><td>remove()</a></td><td>Removes the specified element</td></tr>
  <tr>
    <td>symmetric_difference()</a></td><td>Returns 
    a set with the symmetric differences of two sets</td>
  </tr>
<tr><td>symmetric_difference_update()</a></td><td>
  inserts the symmetric differences from this set and another</td></tr>
  <tr>
    <td>union()</a></td><td>Return a set containing 
    the union of sets</td>
  </tr>
<tr><td>update()</a></td><td>Update the set with the 
  union of this set and others</td></tr>
</tbody></table>

###  Dictionary

#### A dictionary is a collection which is unordered, mutable and indexed.
#### It is represented by a key, value pair. It can contain key values of different datatypes.
#### It is enclosed between {}

In [ ]:
# Creation of dictionary

dict1 = {
    'name': "banu",
    'age':'25',
    'qualification':'BSC'
}

print(dict1)
type(dict1)

#### A dictionary is indexed by its keys

In [ ]:
# get the value of name key

dict1['name']

In [ ]:
# get the value of age key

dict1['age']

#### To get the length of a dictionary

In [ ]:
# Length of a dictionary

print(len(dict1))

#### To modify the values of a dictionary, use their keys

In [ ]:
# Modify the age to 30

dict1["age"]=30
print(dict1)

In [ ]:
dict1['age2'] = 50

#### To add an element to a dictionary

In [ ]:
# add a new key to dict1 with value "Hyd"

dict1["location"]="Hyd"
print(dict1)
print(len(dict1))

#### To delete an element from a dictionary

In [ ]:
# Delete "location" key from dict1

del dict1["location"]
print(dict1)

**To delete an element from a dictionary using pop**

In [ ]:
dict1

In [ ]:
# Way 2 to delete an element. Delete "name" key from dict1

dict1.pop('name')
print(dict1)
print(type(dict1))

### Nested distionaries

In [ ]:
dict2 = {
    'stu1' : {'name':'banu','age':'25','qualification':{'k1':'v2','k2':'v2'}},
    'stu2' : {'name1':'shanmukh','age1':'24','qualification1':'cse'} ,
    'stu3' : {'name2':'Swetha','age2':'24','qualification2':'MBBS'}  
}
dict2

In [ ]:
# access 'banu' from dict2
dict2['stu1']

In [ ]:
dict2['stu1']['qualification']

In [ ]:
dict2['stu1']['qualification']['k1']

In [ ]:
dict1

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

In [ ]:
dict1.items()

### Dictionary methods overview


<table>
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td>clear()</a></td><td>Removes all the elements from the dictionary</td></tr>
<tr><td>copy()</a></td><td>Returns a copy of the dictionary</td></tr>
<tr><td>fromkeys()</a></td><td>Returns a dictionary with the specified keys and value</td></tr>
<tr><td>get()</a></td><td>Returns the value of the specified key</td></tr>
<tr><td>items()</a></td><td>Returns a list containing a tuple for each key value pair</td></tr>
<tr><td>keys()</a></td><td>Returns a list containing the dictionary's keys</td></tr>
<tr><td>pop()</a></td><td>Removes the element with the specified key</td></tr>
<tr><td>popitem()</a></td><td>Removes the last 
  inserted key-value pair</td></tr>
<tr><td>setdefault()</a></td><td>Returns the value of the specified key. If the key does not exist: insert the key, with the specified value</td></tr>
<tr><td>update()</a></td><td>Updates the dictionary with the specified key-value pairs</td></tr>
<tr><td>values()</a></td><td>Returns a list of all the values in the dictionary</td></tr>
</tbody></table>

tuples = () or tuple() 

lists = [] or list()
 
dictionaries  = {}(key and value)

sets = {}  

How we will read tuples or list --> By using index ### Dictionary methods overview

In [ ]:
## Copying any data structures

list1 = [10,20,30,40]

list2 = list1

list2[0] = 100

print(list1)

print(list2)

In [ ]:
## Copying any data structures

list1 = [10,20,30,40]

list2 = list1.copy()

list2[0] = 100

print(list1)

print(list2)

<h2> Data Type Conversion/Type Casting </h2>

<p>Python defines type conversion functions to directly convert one data type to another </p>
<p>There are two types of Type Conversion in Python:</p>
<ol><li>Implicit Type Conversion</li><li>Explicit Type Conversion</li></ol>

<h2 style="text-align:center">Implicit Type Conversion</h2>

<p>In Implicit type conversion of data types in Python, the Python interpreter automatically converts one data type to another without any user involvement. </p>

<h2 style="text-align:center">Explicit Type Conversion</h2>
<p>In Explicit Type Conversion in Python, the data type is manually changed by the user as per their requirement. Various form of explicit type conversion are explained below:<br>&nbsp;</p>

<h2 style="text-align:center">Implicit Type Conversion</h2>

In [ ]:
num_int = 123
print("Type of num_int",type(num_int))
num_float = 456.1
print("Type of num_float",type(num_float))

num_int + num_float

In [ ]:
num_int = 10
print("Type of num_int",type(num_int))
num_str = "20"
print("Type of num_str",type(num_str))

num_int + num_str

<h2 style="text-align:center">Explicit Type Conversion</h2>
<table class="grey">
<tbody><tr>
<td class="greyout"><b>Function</b></td>
<td class="greyout"><b>Converting what to what</b></td>
<td class="greyout"><b>Example</b></td>
</tr>

<tr>
<td><br><tt style="font-size: 1.3em">int()</tt></td>
<td><br>string, floating point → integer </td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>int(<span class="pysrc-string">'2014'</span>) 
<span class="pysrc-output">2014</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>int(3.141592)
<span class="pysrc-output">3</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">float()</tt></td>
<td><br>string, integer → floating point number</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>float(<span class="pysrc-string">'1.99'</span>) 
<span class="pysrc-output">1.99</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>float(5)
<span class="pysrc-output">5.0</span> 
</pre></td></tr>


<tr>
<td><br><tt style="font-size: 1.3em">str()</tt></td>
<td><br>integer, float, list, tuple, dictionary → string</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>str(3.141592) 
<span class="pysrc-output">'3.141592'</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>str([1,2,3,4])
<span class="pysrc-output">'[1, 2, 3, 4]'</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">list()</tt></td>
<td><br>string, tuple, set, dictionary → list</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>list(<span class="pysrc-string">'Mary'</span>)      <span class="pysrc-comment"># list of characters in 'Mary'</span> 
<span class="pysrc-output">['M', 'a', 'r', 'y']</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>list((1,2,3,4))   <span class="pysrc-comment"># (1,2,3,4) is a tuple</span>
<span class="pysrc-output">[1, 2, 3, 4]</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>list({1, 2, 3})   <span class="pysrc-comment"># {1, 2, 3} is a set</span>
<span class="pysrc-output">[1, 2, 3]</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">tuple()</tt></td>
<td><br>string, list, set → tuple</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>tuple(<span class="pysrc-string">'Mary'</span>)
<span class="pysrc-output">('M', 'a', 'r', 'y')</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>tuple([1,2,3,4])   <span class="pysrc-comment"># [ ] for list, ( ) for tuple</span>
<span class="pysrc-output">(1, 2, 3, 4)</span> 
</pre></td></tr>

<tr>
<td><br><tt style="font-size: 1.3em">set()</tt></td>
<td><br>string, list, tuple → set</td>
<td>
<pre><span class="pysrc-prompt">&gt;&gt;&gt; </span>set(<span class="pysrc-string">'alabama'</span>)            <span class="pysrc-comment"># unique character set from a string</span>
<span class="pysrc-output">{'b', 'm', 'l', 'a'}</span> 
<span class="pysrc-prompt">&gt;&gt;&gt; </span>set([1, 2, 3, 3, 3, 2])   <span class="pysrc-comment"># handy for removing duplicates from list</span>
<span class="pysrc-output">{1, 2, 3}</span> 
</pre></td></tr>
    
<tr>
<td><br><tt style="font-size: 1.3em">dict()</tt></td>
<td><br>tuple of order(key,value) → dict (This function is used to convert a tuple of order (key,value) into a dictionary.)</td>
<td><br>tup = (('a', 1) ,('f', 2), ('g', 3)) , dict(tup) , {'a': 1, 'f': 2, 'g': 3}
</td></tr>

    
    
</tbody></table>

In [ ]:
num_int = 10
print("Type of num_int",type(num_int))
num_str = "20"
print("Type of num_str",type(num_str))

num_str = int(num_str)

num_int + num_str

In [ ]:
str1 = "python"
tuple(str1)

In [ ]:
list1 = [('a',1),('b',10),('c',20)]
dict(list1)

In [ ]:
## Additional information
# To convert data types using astype

[1,2,3] + list({2,3,4})

## Operators

### Operatores

#### Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Membership operators

#### 1. Arithmetic Operators


<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
</td>
</tr>
</tbody></table>

In [ ]:
a = 13
b = 5

a//b

#### 2. Assignment Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>

</tbody></table>

#### 3. Comparision Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</tbody></table>

#### 4. Logical Operators

<table class="">
<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>
</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>
</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>
</tr>
</tbody></table>

#### 5. Membership Operators


<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>

</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if a sequence with the specified value is present in the object</td>
<td>x in y</td>
</tr>
<tr>
<td>not in</td>
<td>Returns True if a sequence with the specified value is not present in the 
object</td>
<td>x not in y</td>
</tr>
</tbody></table>

In [ ]:
set1

In [ ]:
"Jan" in set1

In [ ]:
for i in set1:
  print(i)

## if - else

In [ ]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
num = float(input("Enter a number: "))
if num == 0:
    print("Zero")
elif num >0:
    print("Positive number")
#elif num > 10 & num <20:
#    print("number lies between 10 and 20")
else:
    print("Negative number")

In [ ]:
# Short hand if statement

a = input(int())
b = input(int())
if a > b: print("If condition works and a is greater than b !!")
else :
        print('if condition fails, hence we enter else loop and a is not greater than b')

In [ ]:
# Short hand of if-else statement
marks = float(input("Enter marks of student:"))

print("Student passed") if marks > 36 else print("Student failed")

In [ ]:
num = float(input("Enter a number: "))
#if num == 0:
#    print("Zero")
#elif num >0:
#    print("Positive number")
#else:
#    print("Negative number")
    
print("zero") if num == 0 else print("Positive number") if num >0 else print("Negative Number")