## Merge and concat

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
'A':[1,2,3,4],
'B':[True,False,True,True],
'C':['C1','C2','C3','C4']
})
df2 = pd.DataFrame({
'A':[5,7,8,5],
'B':[False,False,True,False],
'D':['D1','D2','D3','D4']
})

In [ ]:
print(df1)
print(df2)

## Concat

In [ ]:
pd.concat([df1,df2],axis=0)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=0,ignore_index=True)

In [ ]:
df1 = pd.DataFrame({
'A':[1,2,3,4],
'B':[True,False,True,True],
'C':['C1','C2','C3','C4']
})
df2 = pd.DataFrame({
'A':[5,7,8,'NULL'],
'B':[False,False,True,False],
'D':['D1','D2','D3','NULL']
})

In [ ]:

print(df1)
print(df2)

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=0)

## Merge
#### LEFT MERGE
- Keep every row in the left dataframe. Where there are missing values of the “on” variable in the right dataframe, add empty / NaN values in the result.
- SYNTAX : pd.merge(left_dataframe, right_dataframe, on = 'column_name', how = 'left')
- Alternate SYNTAX : pd.merge(left_dataframe, right_dataframe, left_on = 'column_name', right_on = 'column_name', how = 'left')
#### RIGHT MERGE
- Here, the merge operation keeps everything from the right dataframe
- To perform the right merge, we just repeat the code above by simply changing the parameter of how from left to right. 
#### INNER MERGE
- Pandas uses “inner” merge by default. This keeps only the common values in both the left and right dataframes for the merged data.
- SYNTAX : pd.merge(left_dataframe, right_dataframe, on = 'column_name', how = 'inner')
- Alternate SYNTAX : pd.merge(left_dataframe, right_dataframe, left_on = 'column_name', right_on = 'column_name', how = 'inner')
#### OUTER MERGE
- The “outer” merge combines all the rows for left and right dataframes with NaN when there are no matched values in the rows.
- SYNTAX : pd.merge(left_dataframe, right_dataframe, on = 'column_name', how = 'outer')
- Alternate SYNTAX : pd.merge(left_dataframe, right_dataframe, left_on = 'column_name', right_on = 'column_name', how = 'outer')

In [ ]:
# df1 = pd.DataFrame({
# 'A':[1,2,3,4],
# 'B':[True,False,True,True],
# 'C':['C1','C2','C3','C4']
# })
# df2 = pd.DataFrame({
# 'A':[4,7,8,'NULL'],
# 'B':[True,False,True,False],
# 'D':['D1','D2','D3','NULL']
# })


left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)


# result = pd.merge(left, right, on=["key1", "key2"])
# result = pd.merge(left, right, how="left", on=["key1", "key2"])
# result = pd.merge(left, right, how="right", on=["key1", "key2"])
# result = pd.merge(left, right, how="outer", on=["key1", "key2"])
# result = pd.merge(left, right, how="inner", on=["key1", "key2"])

In [ ]:
print(df1)
print(df2)

In [ ]:
?pd.merge

In [ ]:
pd.merge(df1, df2, on = 'A', how = 'right')

## Data analysis and manipulations using Pandas

**Agenda**

* Pandas Introduction
* Loading DataFrames from file data
* Preliminary data analysis
* Data type conversion
* Merging dataframes
* Handling duplicate data
* Handling missing data
* Identifying anamolies in the data
* Data aggregations
* Date and Time related data manipulations
* Understanding multi-indexing
* Pivot tables - data reshape
* Writing custom functions

### <font color='blue'>Problem Statement:</font>
A retail giant which operates a chain of hyper markets across the multiple cities wants to develop new strategies for improving the business. 

In this process, the marketing team has provided a data to data analytics team to understand the patterns in their customer transactions in addition to profiling the customers based on their demographics and transactions. 

The data analytics team is tasked to extract insights in the data which should help in developing new strategies for improving the business. 

High level overview of the data:
- Data has been provided for July- Sep 2018 Quarter which is from multiple data sources
  - `Demographics.csv`: Consists of demographic data of about 5.9k records that has  information about the customer demographics.
  - `Transactions.xlsx`: Consists of transactions data of about 260k records that has information about what product the customer purchased for what price
  - `Products.tsv`: Consists of products data of about 3.5k records which has a mapping of the product ids with product category.

- Given this data, we need to provide insights for developing new strategies
- We use basic statistics and aggregations in this context.

Datasets shared in compressed file or
In the shared server, data sets are available at the path **`/home/datasets/lab/`**.

Import libraries under the respective aliases

In [ ]:
import os
import numpy as np
import pandas as pd

In [ ]:
pd.set_option('display.max_columns', None)

### Load data and create dataframes

- Read csv files using the read_csv function.
- Read tsv files using the read_csv function with a `tab \t` seperator.
- Read excel files using the read_excel function.

In [ ]:
demographics = pd.read_csv("datasets/Demographics.csv")

Display the sample content from each dataframe

In [ ]:
demographics.head()

List column names from each dataframe

In [ ]:
demographics.columns

### Preliminary data analysis

As the files are read, Do preliminary data analysis

Generally this consists of understanding the data.
- How many records and how many attributes are there?
- What are the datatypes of these attributes?
- Are there any missing values in the data?

To check the first and last 5 records of the data, we use head and tail
- dataframe.head() and 
- dataframe.tail(). 

We can specify a number in the parenthesis and those many records would be displayed.

Verify first 3 records

In [ ]:
demographics.head(3)

Verify the last 3 records

In [ ]:
demographics.tail(3)

Verify random sample data

In [ ]:
demographics.sample(10)

To get an overall understanding of data at a high level
- we use data.describe() function

describe produces multiple summary statistics in one shot.

In [ ]:
demographics.describe()

Observe that we have only the partial information. This is because, describe by default gives the summary of only numeric attributes. If we need to get information about all the attributes then we need to pass additional parameter to describe function.

On non-numeric data, describe produces alternative summary statistics.

In [ ]:
demographics.describe(include="all")

In [ ]:
## Check the dimensions of a dataframe

demographics.shape

To observe the data types of each attribute
- We use dataframe.dtypes
- The data types given are how python interpreted them. Sometimes, they may be interpreted incorrectly. 

In such cases, we may have to change them to appropriate data types
    - Data types we have Integer/Numeric, Object (Category), Boolean.

In [ ]:
# Understanding the data types for each data
demographics.dtypes

### How do we differentiate between numeric and categorical attributes?

- Understading the variable names and doing a simple test. Does applying a statistical function like mean/average makes sense on that variable. If it does, then it is numeric else it is categorical
- Looking at the data. If a particular variable has only a few values which are repeating, probably they are categorical.

In [ ]:
cat_cols = ['Gender','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status']
for i in cat_cols:
    demographics[i] = demographics[i].astype('category')

In [ ]:
demographics.dtypes

### Understand what is there in each data file

- Are there any duplicates in the data?

In [ ]:
demographics.shape

In [ ]:
demographics['User_ID'].nunique()

In [ ]:
demographics[demographics.duplicated(keep=False)]

In [ ]:
demographics[demographics.duplicated(keep='last')]

In [ ]:
demographics[demographics.duplicated(keep='first')]

In [ ]:
# Ignoring the duplicate records
demo_no_duplicates = demographics.drop_duplicates(keep='first')

print(demo_no_duplicates.shape)
print(demo_no_duplicates['User_ID'].nunique())

In [ ]:
# If we need to consider set of columns for duplicates use subset attribute
demographics[demographics.duplicated(subset=['User_ID','Gender','Age'],keep='first')]

### Check the distribution

In [ ]:
## To check the distribtuion of males and females 

# Of these 5900 customers, how many are male and how many are female
demo_no_duplicates['Gender'].value_counts()

In [ ]:
# Inorder to get the distribution in probabilities or percentages
demo_no_duplicates['Gender'].value_counts(normalize=True)

- Observe that there are 4231 (≈72%) Males and 1669 (≈28%) Females. Males are nearly 2.5 times more than Females.

### Missing Value and Extreme Value analysis

- Whenever we get the data, we need to check if the data has any missing or extreme values/ anomalies in the data which might affect our analysis

In [ ]:
demo_no_duplicates.isna()

In [ ]:
demo_no_duplicates.isna().sum()

Observe that there are 3 missing values in the Age column. 

How to deal with these missing values?
  -  We ask the business if the data for these missing records available. If yes, then we can get this information from them else we need to look at other approaches.
  - One approach is to see what proportion of the data we have missing values. Is this a large value or a small value. If this value is very small compared to the number of records, we may choose to ignore these records. 
  -Other approach is to impute these missing values.

**Dropping the records**

In [ ]:
# Method 1
data_ig = demo_no_duplicates.dropna()
print("Records after removing rows with missing values are: ",data_ig.shape)
print("Records in original dataframe are: ",demo_no_duplicates.shape)

In [ ]:
print("Missing values in the dataframe after removal:")
print(data_ig.isna().sum())
print("\nMissing values in the original dataframe:")
print(demo_no_duplicates.isna().sum())

In [ ]:
data_ig["Age"].describe()

**Imputing the missing values**
  - Imputing is basically a method of "guessing" the value in place of missing value. One method of imputation is central imputation where you replace the null value with the mean value of the column
  - But before imputing, we need to check if there are any extreme values in the data because the extreme values can impact the mean values.

Observe that there are some points above 100 and the max is about 129 (recall that we got the max value when we used the describe function on the data. These values could be anamolies. One of the approaches to tackle these extremevalues isto ignore the records before imputing the data. We can discuss other methods later.

In [ ]:
demo_no_duplicates['Age'].value_counts()

In [ ]:
## General mistakes people do. If you use below command then null records also be filtered
demo_no_duplicates[demo_no_duplicates['Age']<=100]

In [ ]:
data1 = demo_no_duplicates[-demo_no_duplicates['Age'].isin(range(100,200))]
print("Dimensions of the processed data: ", data1.shape)
print("Missing values in Data processed", data1.isna().sum())

In [ ]:
# Lets describe the data again
print(data1['Age'].describe())

In [ ]:
# Now let's impute the age
print("The number of missing values before imputation:\n",data1.isna().sum())

data1['Age'].fillna(data1['Age'].mean(), inplace=True)

print("\n",data1.Age.describe(),"\n")
print("The number of missing values after imputation:\n",data1.isna().sum())

In [ ]:
# Fill with a value
# data1.fillna(0)
# Fill with different values for different columns
# data1.fillna({'Age': 0, 'Gender': 'M'})

 ### Discretization and Binning

Continuous data is often discretized or otherwise separated into “bins” for analysis.

Suppose if we want to group Age into discrete age buckets.

- Age Group binning
    - Age is numeric data. But the question we need to ask is does a 50 year old person behaviur would be different from 51 year old. Or a 21 year old behaviour be different from 22 year old. If not, then we need not want individual information on age but we need a collective information like what products are being purchased by a specific age group ( and not individual)
    - In order to group the customers based on Age we create our custom bins like 0-17 years, 18-25 years, 26-35 years, 36-45 years, 46-50 years, 51-55 years and 55+.

In [ ]:
bins = [0, 17, 25, 35, 45, 50, 55, 100]
labels=['0-17','18-25','26-35','36-45','46-50','51-55','55+']

In [ ]:
data1['Age_Group'] = pd.cut(data1['Age'], bins=bins, labels=labels)

In [ ]:
data1.head()

Observe that people in the age group of 26-35 followed by 36-45 are more in number compared to other groups.


**Pair-wise frequencies**
- Let's visualize each of these in the form of a table. In excel we have a pivot table to do such analysis, here we have a crosstab
    - How many customers from each Age_Group are there in each City_Category.

In [ ]:
pd.crosstab(data1['Age_Group'], data1['City_Category'])

Observe that City_Category C has more customers in all the age groups

**Question: How many customers of each gender belonging to each occupation?**

In [ ]:
pd.crosstab(data1['Gender'], data1['Occupation'])

## Pivot tables

In [ ]:
demo_no_duplicates.dtypes

In [ ]:
## What is the average age for different genders
pd.pivot_table(demo_no_duplicates, index=['Gender'],aggfunc=np.mean,values=['Age'])

In [ ]:
## Calculate median age of different genders in different cities
table = pd.pivot_table(demo_no_duplicates,index=['Gender','City_Category','Marital_Status'],aggfunc=[np.median,np.mean],values=['Age'])
table

In [ ]:
print(demo_no_duplicates.head())
print(table.head())

In [ ]:
table.query('Gender==["F"]')

In [ ]:
table.query('City_Category==["A","B"]')

## Groupby

In [ ]:
demo_no_duplicates.head()

In [ ]:
## What is the mean age of Female and Male

demo_no_duplicates.groupby(['Gender'])

#### Note: The groupby() function returns a GroupBy object, but essentially describes how the rows of the original data set has been split. the GroupBy object .groups variable is a dictionary whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group. For example:

In [ ]:
demo_no_duplicates.groupby(['Gender']).groups

In [ ]:
demo_no_duplicates.groupby(['Gender']).groups.keys()

In [ ]:
len(demo_no_duplicates.groupby(['Gender']).groups['F'])

In [ ]:
## Getting the average of each gender group

demo_no_duplicates.groupby(['Gender'])['Age'].mean()

In [ ]:
## In city A, what is the average male and female ?

demo_no_duplicates[demo_no_duplicates['City_Category'] == 'A'].groupby(['Gender'])['Age'].mean()

In [ ]:
## We can do group by on more than one variable

## Question: City wise male and female count

demo_no_duplicates.groupby(['City_Category','Gender'])['Age'].mean()

### Groupby output format – Series or DataFrame?
The output from a groupby and aggregation operation varies between Pandas Series and Pandas Dataframes, which can be confusing for new users. As a rule of thumb, if you calculate more than one column of results, your result will be a Dataframe. For a single column of results, the agg function, by default, will produce a Series.

In [ ]:
#produces pandas series
demo_no_duplicates.groupby(['Gender'])['Age'].sum()

In [ ]:
#produces pandas dataframe
gender_age_analysis = demo_no_duplicates.groupby(['Gender'])[['Age']].sum()
gender_age_analysis

In [ ]:
temp = demo_no_duplicates.groupby(['City_Category','Gender'])[['Age']].mean()
temp

### Multi indexing

In [ ]:
temp.index

In [ ]:
temp.loc[('A','F'),:]

In [ ]:
temp.index

In [ ]:
temp

In [ ]:
temp.unstack(level=0)

In [ ]:
temp.unstack(level=1)

### Multiple statistics per group

In [ ]:
demo_no_duplicates.head()

In [ ]:
demo_no_duplicates.groupby(['Gender']).agg(
        {'Age':'mean',
         'Occupation':'count'})

In [ ]:
## Applying multiple functions to columns in groups

group1 = demo_no_duplicates.groupby(['Gender']).agg(
        {'Age':['mean','min','max'],
         'Occupation':['count','nunique']})

group1

In [ ]:
group1.columns

In [ ]:
group1

In [ ]:
print(group1.columns)
print(group1.columns.ravel())

In [ ]:
group1.columns = ["_".join(x) for x in group1.columns.ravel()]
group1

In [ ]:
group1.loc['F','Age_mean']

In [ ]:

group2= demo_no_duplicates.groupby(['Gender']).agg(
        mean_Age           = ('Age','mean'),
        min_age            = ('Age','min'),
        max_age            = ('Age','max'),
        occupation_count   = ('Occupation','count'),
        occupation_nunique = ('Occupation','nunique'))

group2

In [ ]:
group2.loc['F','mean_Age']

## Good to know

In [ ]:
products = pd.read_csv("datasets/Products.tsv", sep = "\t")

In [ ]:
transactions = pd.read_excel("datasets/Transactions.xlsx", sheet_name="TransactionsData")

In [ ]:
transactions.head()

In [ ]:
products.head()