In [ ]:
# Python MySQL
- **MySQL** - eamil with MySQL host, port no, user, and passwoard has sent by INSOFE Admin
- **Python** - mysql.connector - enables python program to access MySQL DB
- **Python_MySQL** - Connecting to MySQL DB Server

In [ ]:
#Python Script to connect to MySQL Database Server
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456"
)

if db.is_connected():
    print("Database Connected")

In [8]:
#Python Script to Create Database in MySQL
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456"
)

cursor = db.cursor()
cursor.execute("CREATE DATABASE NMIMS_kiran")

print("Database Created Successful !!!")

Database Created Successful !!!

In [11]:
#Python Script to Create Table in MySQL
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = """CREATE TABLE customers (
  customer_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  address Varchar(255)
)
"""
cursor.execute(sql)

print("Table Created Successful !!!")

Table Created Successful !!!

In [12]:
#Python Script to Insert Values into Table in MySQL
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Kiran Kumar", "Bengaluru")
cursor.execute(sql, val)

db.commit()

print("{} data added".format(cursor.rowcount))

1 data added

In [13]:
#Python Script to Insert multiple Values into Table in MySQL
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
values = [
  ("Pavithra", "TamilNadu"),
  ("Suresh", "TamilNadu"),
  ("Kumar", "Bengaluru"),
  ("Mageshwaran", "Bengaluru")
]

for val in values:
  cursor.execute(sql, val)

db.commit()

print("{} data added".format(cursor.rowcount))

1 data added

In [14]:
#Python Script to retrieve one record from Table 
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "SELECT * FROM customers"
cursor.execute(sql)

result = cursor.fetchone()

print(result)

(1, 'Kiran Kumar', 'Bengaluru')

In [15]:
#Python Script to retrieve all the record from Table 
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "SELECT * FROM customers"
cursor.execute(sql)

results = cursor.fetchall()

for data in results:
  print(data)

(1, 'Kiran Kumar', 'Bengaluru')
(2, 'Pavithra', 'TamilNadu')
(3, 'Suresh', 'TamilNadu')
(4, 'Kumar', 'Bengaluru')
(5, 'Mageshwaran', 'Bengaluru')

In [ ]:
#Python Script to delete the record from Table 
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "DELETE FROM customers WHERE customer_id=%s"
val = (4, )
cursor.execute(sql, val)

db.commit()

print("{} data deleted".format(cursor.rowcount))

1 data deleted

In [ ]:
#Python Script to update the record in the Table 
import mysql.connector

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)

cursor = db.cursor()
sql = "UPDATE customers SET name=%s, address=%s WHERE customer_id=%s"
val = ("ShakibAL", "Dhaka", 2)
cursor.execute(sql, val)

db.commit()

print("{} data changed".format(cursor.rowcount))

In [ ]:
#Python_MySQL Application
#Connecting to MySQL DB, and CURD Commands

import mysql.connector
import os

db = mysql.connector.connect(
    host="125.99.159.85",
    port="6033",
    user="insofe",
    password="Insofe@3456",
    database="NMIMS_kiran",
)


def insert_data(db):
  name = input("Enter Name: ")
  address = input("Enter Address: ")
  val = (name, address)
  cursor = db.cursor()
  sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
  cursor.execute(sql, val)
  db.commit()
  print("{} data Inserted".format(cursor.rowcount))


def show_data(db):
  cursor = db.cursor()
  sql = "SELECT * FROM customers"
  cursor.execute(sql)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("There is not any data")
  else:
    for data in results:
      print(data)


def update_data(db):
  cursor = db.cursor()
  show_data(db)
  customer_id = input("Choose id customer> ")
  name = input("New Name: ")
  address = input("New Address: ")

  sql = "UPDATE customers SET name=%s, address=%s WHERE customer_id=%s"
  val = (name, address, customer_id)
  cursor.execute(sql, val)
  db.commit()
  print("{} data successfully changed".format(cursor.rowcount))


def delete_data(db):
  cursor = db.cursor()
  show_data(db)
  customer_id = input("Choose id customer> ")
  sql = "DELETE FROM customers WHERE customer_id=%s"
  val = (customer_id,)
  cursor.execute(sql, val)
  db.commit()
  print("{} data successfully deleted".format(cursor.rowcount))


def search_data(db):
  cursor = db.cursor()
  keyword = input("Keyword: ")
  sql = "SELECT * FROM customers WHERE name LIKE %s OR address LIKE %s"
  val = ("%{}%".format(keyword), "%{}%".format(keyword))
  cursor.execute(sql, val)
  results = cursor.fetchall()
  
  if cursor.rowcount < 0:
    print("There is not any data")
  else:
    for data in results:
      print(data)


def show_menu(db):
  print("===PYTHON DATABASE APPLICATION===")
  print("1. Insert Data")
  print("2. Show Data")
  print("3. Update Data")
  print("4. Delete Data")
  print("5. Search Data")
  print("0. GO Out")
  print("------------------")
  menu = input("Choose menu>")

  #clear screen
  os.system("clear")

  if menu == "1":
    insert_data(db)
  elif menu == "2":
    show_data(db)
  elif menu == "3":
    update_data(db)
  elif menu == "4":
    delete_data(db)
  elif menu == "5":
    search_data(db)
  elif menu == "0":
    exit()
  else:
    print("Menu WRONG!")


if __name__ == "__main__":
  while(True):
    show_menu(db)

SyntaxError: 'break' outside loop (1679595784.py, line 105)